PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=WP926ngjGy_AlZ6Mj7FhZAR0_SKpz4cI
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false

DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
SMTP_FROM=mailerName

ACCESS_TOKEN_KEY=key
ACCESS_TOKEN_TIME=time # In MS.js
REFRESH_TOKEN_KEY=key
REFRESH_TOKEN_TIME=time # In MS.js
REMEMBER_PASSWORD_TOKEN_KEY=key
REMEMBER_PASSWORD_TOKEN_TIME=time # In MS.js
REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
