<h3>Добрый день {{ user.fullName }}</h3>
<p>Вы оставляли нам заявку на восстановление вашего пароля, поэтому мы прилагаем ссылку ниже, по переходу которой, вы можете изменить свой пароль. Спасибо.</p>
<a href="https://kliner-rb.store/password-2/{{ token }}">Изменить пароль</a>
